body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    /* background-color: rgba(0, 0, 0, 0.153); */
    
}

.login-body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/org.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 

}

.loginAcc {
    display: flex;
    text-align: center;
    justify-content: center;
    /* margin-top: 60px; */
    margin-bottom: 20px;
    color: white;
}

.log-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    width: 530px;
    height: 600px;
    margin: auto;
    border: 2px solid rgba(22, 4, 54, 0.517);
    padding: 25px;
    background-color: rgba(147, 241, 201, 0.077);
    border-radius: 2%;
}

.sub-container-log {
    background: transparent;
    margin-top: 35px;
    margin-left: 0px;
    color: rgb(0, 0, 0);
    padding: 0;
}

.name-div {
    margin-left: 0px; 
    font-size: 20px;
    text-align: left;
    color: white;
}

.input-inline-log {
    height: 45px;
    border: none;
    outline: none;
    color: aliceblue;
    width: auto;
    margin-top: 0px;
    padding-left: 4px;
    padding-right: 200px;
    background: transparent;
}
.input-inline-log::placeholder{
    color: rgba(0, 0, 1, 0.706);
}

.formControl-log {
    border-radius: 3px;
    margin-bottom: 1px;
    width: 500px;
    text-align: left;
    color: rgb(142, 38, 38);
    background-color: transparent;
    border: 1px solid rgb(248, 205, 14);
}

.icons {
    padding-left: 3px;
    align-items: center;
}

/* .formError {
    color: red;
} */

.btn-log {
    width: -webkit-fill-available;
    height: 40px;
    border: 2px solid tomato;
    background-color: tomato;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
}
.btn-log:hover{
    background-color: transparent;
}

.reg {
    color: rgba(111, 5, 86, 0.944);
    font-size: 20px;
}

.forgot-section {
    display: flex;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-left: 70%;
    margin-bottom: 15px;
}

.log-account-section {
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 20px;
}